* {
  box-sizing: border-box;
}

body {
  background: #000000;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  height: 96px;
}

#header h1 {
  font-family: "Rubik Wet Paint", cursive;
  font-size: 70px;
  font-weight: 400;

  color: #ffff04;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.allCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 1000px;

  /* background-color: aqua; */
}

.allCards li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 146px;
  width: 117px;

  margin-right: 34px;
  margin-bottom: 34px;

  border-radius: 5px;

  background-color: #ffff04;
  border: 1px solid #635e01;

  cursor: pointer;
}

.allCards img {
  height: 100px;
  display: flex;

  justify-content: center;
  align-items: center;
  width: 100px;
}

@media (max-width: 543px) {
  #header h1 {
    text-align: center;
  }
}

@media (max-width: 335px) {
  #header {
    width: 100%;
    margin-top: 30px;
  }

  #header h1 {
    text-align: center;
    font-size: 36px;
  }

  .container {
    width: 100%;
  }

  .allCards {
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
  }

  .allCards li {
    margin-right: 0;
  }
}

.cartaDesvirada {
  transition: all 0.8s;
  transform: rotateY(360deg);
}

.viraCarta {
  cursor: auto;
  transition: all 0.8s;
  transform: rotateY(180deg);
}

.viraCarta img {
  transform: rotateY(180deg);
}
