.Content {
  transition: all 0.5s;
  transform-style: preserve-3d;
}

.cartaDesvirada {
  width: 200px;
  height: 200px;
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;
  transform: rotateY(360deg);
}

.cartaVirada {
  width: 200px;
  height: 200px;
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;
  transform: rotateY(180deg);
}

.cartaVirada p {
  transform: rotateY(180deg);
}
